# 1. Alles komplett ignorieren
node_modules/
.git/
dist/
docs/
mockups/
supabase/
tests/
tools/
apps/
.env.functions
.env.local
.env.production

# 2. Die Ausnahmen definieren (das "Include")
!package.json
!package-lock.json
!public/
!src/
!index.html
!tailwind.config.js
!vite.config.js
!postcss.config.js

# 4. Docker-eigene Dateien erlauben
!docker_files